if SHIELD_SCRIPTURAM_LEFT

config ZMK_SCRIPTURAM
    default "Scripturam"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SCRIPTURAM_LEFT || SHIELD_SCRIPTURAM_RIGHT

config ZMK_SPLIT
    default y

endif